{# Vue de formulaire de contact avec l'entreprise pour le client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Infos - PlastProd </title>
{% endblock %}

{% block actions %}
<div class = "contact">
	<h2>Contact par téléphone</h2>
	<p> 03 26 84 56 88 </p>

	<h2>Contact par courrier </h2>
		<p>Si vous voulez nous contacter par courrier, vous devrez envoyer votre lettre au siège de l'entreprise <br /> situé à St-Dié-Des-Vosges. Veillez à indiquez le service auxquel vous voulez vous adressé : 
		<div id="adresse">
		15 Rue du petit Saint-Dié <br/>
		88100 Saint-Dié-Des-Vosges CEDEX <br />
		</div></p>
	
	<h2> Par mail </h2>
	<div id = "mail">
		{{ form_start(form) }}
		<table class='table_mail'>
			<tbody>
					<tr><td>{{ form_label(form.titre,'Sujet du mail') }} </td><td>{{ form_widget(form.titre) }}</td></tr>
					<tr><td>{{ form_label(form.auteur,'Expéditeur') }} </td><td>{{ form_widget(form.auteur) }}</td></tr>
					<tr><td>{{ form_label(form.contenu,'Contenu') }} </td><td>{{ form_widget(form.contenu) }}</td></tr>
				</tr>
				<tr><td>{{ form_widget(form.Envoyer) }}</td></tr>
			</tbody>
		</table>
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}