{# Vue du suivi de commande Client #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Client - Suivi - PlastProd </title>
{% endblock %}

{% block actions %}
{% if form is defined %}
<p> Saisissez le numéro de commande que vous voulez suivre : </p>
<p>{{ form(form) }} </p>
{% elseif  commande is defined%}

<table class='table_suivi'>
	<thead>
		<th> Numéro de la commande </th>
		<th> Prix de la commande </th>
		<th> Date de la commande </th>
		<th>Expédiée</th>
		<th>Date d'expédition</th>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" value='{{ commande[0].numCommande }}' disabled = 'disabled'/></td>
			<td><input type='text' value ='{{ commande[0].total }}' disabled='disabled' /> €</td>
			<td>{{ commande[0].dateCommande | date('d/m/y') }}</td>
			<td><input type='checkbox' {% if commande[0].estExpediee %} checked {% endif %}/></td>
			<td>{{ commande[0].dateSortie | date('d/m/y')}}</td>
		</tr>
	</tbody>
</table>
{% endif %}

{% endblock %}