{# Vue de lancement de production #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Lancement - PlastProd </title>
{% endblock %}

{% block actions %}

{{ form_start(form)}}
<table class="lancerProd">
	<thead>
		<th> Numéro de la commande </th>
		<th> Date de la commande </th>
		<th> Produire ? </th>
	</thead>
	<tbody>
	{% for champ in form.commande %}
		<tr>
			<td>{{ form_widget(champ.numCommande) }}</td>
			<td style='display:none;'>{{ form_widget(champ.total) }}</td>
			<td style='display:none;'>{{ form_widget(champ.estExpediee) }}</td>
			<td>{{ form_widget(champ.dateCommande) }}</td>
			<td style='display:none;'>{{ form_widget(champ.estComplet) }}</td>
			<td>{{ form_widget(champ.estProduite) }}</td>
		</tr>
	{% endfor %}
	<tr>
		<td>{{ form_widget(form.Valider) }}</td>
	</tr>
	</tbody>
</table>
{{ form_end(form) }}
{% endblock %}