{# Vue qui correspond au module Prod #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}
{% block title %}
<title>Production - Superviser - PlastProd </title>
{% endblock %}

{% block actions %}
{{ form_start(form) }}
<table class = "superviser">
	<thead>
		<th>Date d'entrée en stocks</th>
		<th>Numéro d'étiquette</th>
		<th>Produit déffectueux</th>
		<th>Editer Bon à Jeter / Etiquette</th>
	</thead>
	<tbody>
	{% for champ in form.pdtFini %}
		<tr>
			<td>{{ form_widget(champ.dateEntree)}}</td>
			<td>{{ form_widget(champ.etiquette)}}</td>
			<td>{{ form_widget(champ.deffectueux)}}</td>
			<td>
			{% if champ.deffectueux.vars.data %}
				<button class="edit" > Editer le bon à jeter</button>
			{% else %}
				<button class="edit" >Editer l'étiquette</button>
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{{ form_end(form) }}
{% endblock %}