{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des matieres premieres - PlastProd </title>
{% endblock %}

{% block actions %}
{{ form_start(form) }}
<table class = "table_matieres">
	<thead>
		<th> Nom de la matière </th>
		<th> Quantité en stock </th>
	</thead>
	<tbody>
		{% for champ in form.matiere %}
			<tr>
				<td>{{ form_widget(champ.nom) }}</td>
				<td>{{ form_widget(champ.quantiteStock) }}</td>
			</tr>
		{% endfor %}
	</tbody>
	<tr>
		<td> {{ form_widget(form.modifier) }}</td>
	</tr>
</table>
{{ form_end(form) }}
{% endblock %}