{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des nomenclatures -  PlastProd </title>
{% endblock %}

{% block actions %}

{{ form_start(form) }}
<table class="table_nomenclature">
	<thead>
		<th>Numéro de commande</th>
		<th>Total de la commande (€)</th>
		<th>Date de la commande</th>
		<th> Commande complète </th>
		<th> Commande expédiee </th>
		<th> Commande produite </th>
	</thead>
	<tbody>
		{% for champ in form.commande %}
			<tr>
				<td>{{ form_widget(champ.numCommande) }}</td>
				<td>{{ form_widget(champ.total) }} </td>
				<td>{{ form_widget(champ.dateCommande) }}</td>
				<td>{{ form_widget(champ.estComplet) }}</td>
				<td>{{ form_widget(champ.estExpediee) }}</td>
				<td>{{ form_widget(champ.estProduite) }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td>{{ form_widget(form.modifier) }}</td>
		</tr>
	</tbody>
</table>
	{% for flashMessage in app.session.flashbag.get('modification') %}
	<div class = "flash_notice">
		{{ flashMessage }}
	</div>
	{% endfor %}
{{ form_end(form) }}

{% endblock %}