{# Vue qui correspond au module Panneau de config, partie Ajout d'un utilisateur #}

{% extends 'ROGERPlastProdBundle:PlastProd:index.html.twig' %}

{% block title %}
<title>Stocks - Gestion des nomenclatures -  PlastProd </title>
{% endblock %}

{% block actions %}
<table>
	<tr>
		<td>Id commande</td>
		<td>Numéro de commande </td>
		<td>date de la commande</td>
		<td>Est compléte</td>
		<td>Prix total</td>
	</tr>
	{% for commande in commandes %}
		<tr>
			<td> {{ commande.id}}</td>
			<td> {{ commande.numCommande }}</td>
			<td>{{  commande.dateCommande | date("d/m/Y") }}</td>
			<td> {{ commande.estComplet }}</td>
			<td>{{ commande.total }}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}