<div class="item active">
	<span>
		<p>
				<td><span class="span_notif">Dernière commande expediée : </td>
				<td> Le <bold>{{ commandeE[0].dateSortie | date('d/m/y') }} </bold></td>
				<td> au prix total de <bold>{{ commandeE[0].total }} </bold>€ </span></td>
			</tr>
		</p>
	</span>
</div>
<div class="item">
	<span>
		<p>
				<td><span class="span_notif">Dernière commande lancée en production : </td>
				<td>  Le <bold>{{ commandeL[0].dateLancement | date('d/m/y') }} </bold></span></td>
		</p>
	</span>
</div>
<div class="item">
	<span>
		<p>
				<td><span class="span_notif">Dernier client à avoir commandé : </td>
				<td><bold>{{ client[0].prenom }}  {{ client[0].nom }}</bold></span></td>
		</p>
	</span>
</div>
<div class="item">
	<span>
		<p>
				<td><span class="span_notif">Client qui à le plus commandé :</td>
				<td><bold> {{ bestClient[0].prenom }}</bold></td>
				<td> <bold>{{ bestClient[0].nom}}</bold></span></td>
		</p>
	</span>
</div>