<div class="item active">
	<p>
			<td>Dernière commande expediée : </td>
			<td> Le <span>{{ commandeE[0].dateSortie | date('d/m/y') }} </span></td>
			<td> au prix total de <span>{{ commandeE[0].total }}€ </span></td>
		</tr>
	</p>
</div>
<div class="item">
	<p>
			<td>Dernière commande lancée en production : </td>
			<td> Le <span>{{ commandeL[0].dateLancement | date('d/m/y') }} </span></td>
	</p>
</div>
<div class="item">
	<p>
			<td>Dernier client à avoir commandé : </td>
			<td><span>{{ client[0].prenom }}  {{ client[0].nom }}</span></td>
	</p>
</div>
<div class="item">
	<p>
			<td>Client qui à le plus commandé :</td>
			<td> <span>{{ bestClient[0].prenom }} </span> </td>
			<td> <span>{{ bestClient[0].nom}}</span></td>
	</p>
</div>